html
  head
    title
      | DataProcessingD
    = stylesheet_link_tag    "data_processing_d/application", media: "all"
    = javascript_include_tag "data_processing_d/application"
    = csrf_meta_tags
  body
    = yield