tr
  td
    = example_item.id
  td
    = example_item.name
  td
    = link_to t('dm_links.edit'), data_processing_d.edit_example_item_path(example_item)
    = link_to t('dm_links.delete'), example_item, method: :delete, data: { confirm: "#{t('dm_messages.removal_confirmation')}" }