.filter
  = form_tag(example_items_path, :id => "filter_form", :method => 'get', :multipart => true) do
    .field.text_field
      = label_tag :name, "name"
      = text_field_tag "filter[text][name]", params[:filter].nil? ? "" : params[:filter][:text][:name]

    = link_to t('labels.buttons.clear'), example_items_path, class: "clear_btn"
    = submit_tag t('labels.buttons.use'), class: "manage_btn"