= form_for @item do |f|

  .field.text_field
    = f.label :name, :name
    = f.text_field :name

  .field.text_field
    = f.label :avatar, :avatar
    - if @item.avatar.file?
      = image_tag @item.avatar.url(:thumb)
      .delete-image style="width: 10px; height: 10px; background-color: red;"
      = f.hidden_field :avatar, :value => ""
    = f.file_field :avatar

  = f.submit t('dm_links.save')

  = @test
  = debug(params)